body {
  font-family: Arial, sans-serif;
  margin: 30px;
}

input {
  width: 100%;
}

form input {
  margin-bottom: 10px;
  padding: 5px;
}

table {
  margin-top: 20px;
  width: 60%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

button.delete {
  background-color: red;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
}
